<!doctype html>

<html>

<head>
<title>
	Aliff Macapinlac
</title>
<head>

<body>
	<form action="/login" method="POST">
	<input type="text" id="name" name="username" placeholder="username"/>
	<button id="submit" type="submit">Submit {{thisText}}</button>
	</form>
	
	<div id="send" style="background-color: green; color: white; "/>Click</div>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script type="text/javascript" src="myJS.js"></script>

</body>
</hmtl>
